h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.body-font {
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (min-width: 40em) {
  .frontpage-card {
    min-height: 230px;
  }
}

@media screen and (min-width: 40em) {
  .price-card {
    height: 160px;
  }
}

@media screen and (min-width: 72em) {
  .button-center {
    bottom: 0px;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
  }
}
