/**
 * Gradients
 * =================================
 * - Photo Header
 *
 *
 *
 *
 *
 */

.bg-purple-gradient {
  background: rgb(104, 106, 168);
  background: linear-gradient(
    97deg,
    rgba(104, 106, 168, 1) 0%,
    rgba(91, 94, 173, 1) 100%
  );
}

.bg-blue-gradient {
  background: rgb(185, 200, 231);
  background: linear-gradient(
    97deg,
    rgba(185, 200, 231, 1) 0%,
    rgba(147, 169, 206, 1) 100%
  );
}

.bg-rose-gradient {
  background: rgb(138, 67, 125);
  background: linear-gradient(
    137deg,
    rgba(138, 67, 125, 1) 0%,
    rgba(117, 45, 103, 1) 100%
  );
}
